body{
    background-color:dodgerblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: #111;
    color: gold;
    padding: 10px;
    padding-left: 190px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
footer{
       background-color: #111;
    color: gold;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;

}
nav a{
    color: gold;
}


nav {
    padding-top: 35px;
    padding-right: 60px;
}
img{
margin: 10px;
border: 5px solid navy;
border-radius: 10px;
}